* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #FFF;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayDark: #141414;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--grayDark);
  width: 100%;
}

a {
  color: inherit;
} 

